{% extends '::layout.html.twig' %}

{% block title %}
    Work!
{% endblock %}

{% block h1 %}
    <h1 class="header__title">Work!</h1>
{% endblock %}

{% block content %}
    {{ work.title }}
{% endblock %}
