<div class="wrapper container">
    <div class="header row">
        <div class="header__logo col-md-8 col-lg-9">
            <h1 class="header__title">
                Портфолио web-программиста Антона Кондратова: разработка сайтов </h1>
        </div>
        <div class="header__contacts col-md-4 col-lg-3">
            <div class="region region-header">
                <ul>
                    <li><a href="http://blog.site-home.ru/" target="_blank" tabindex="-1"><i
                                    class="fa fa-external-link"></i> <span>Блог</span></a></li>
                    <li><a href="https://github.com/hobocta" target="_blank" tabindex="-1"><i
                                    class="fa fa-external-link"></i> <span>GitHub</span></a></li>
                    <li><a href="https://www.facebook.com/hobocta" target="_blank" tabindex="-1"><i
                                    class="fa fa-external-link"></i> <span>Facebook</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content__wrapper row">
        <div class="content__content col-md-8 col-lg-9">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">


                        <div class="content">
                        </div>

                        <footer>
                            <div class="links">
                            </div>
                        </footer>

                    </div>
                </div>
                <div class="works__list">
                    <div class="works__item"><a href="/rsvp.html" title="Красивый мультиязычный сайт коммуникационного агентства" class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/chrome_2016-11-17_14-57-43.png"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/chrome_2016-11-17_14-57-43.png"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/chrome_2016-11-17_14-57-43.png"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">R.S.V.P</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/shale.html" title="Решение на маркетплейсе 1С-Битрикс." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/shale_0.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/shale_0.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/shale_0.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Отель «Shale»</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/china.html" title="Клиника традиционной китайской медицины." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/china.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/china.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/china.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">«Природа жизни»</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/technounity.html" title="Зеленоградский инновационный кластер." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/technounity_0.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/technounity_0.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/technounity_0.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Техно Юнити</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/kl.html" title="Решение на маркетплейсе 1С-Битрикс." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/kl.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/kl.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/kl.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Клиника Сити+</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/mmpl.html" title="Интернет-магазин мебельных комплектующих." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/2015-02-10_100121.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/2015-02-10_100121.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/2015-02-10_100121.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">СитиПласт</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/vira.html" title="Сайт-визитка Саратовской компании «Вира»." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/vira.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/vira.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/vira.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">VIRA</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/clarette.html" title="Простой сайт-визитка компании, которая продаёт спонжи в России." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/clarette_0.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/clarette_0.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/clarette_0.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Clarette</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/ya-trener.html" title="Сайт бизнес-тренера Виталия Гуриновича." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/ya-trener.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/ya-trener.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/ya-trener.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Я – тренер</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/veld-co.html" title="Большой и пёстрый интернет-магазин." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/veld.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/veld.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/veld.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Veld Co</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/privodnye-sistemy.html" title="Каталог продукции компании." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/privod.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/privod.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/privod.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Приводные Системы</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/sultanna-frantsuzova.html" title="Интернет-магазин именитого модельера." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/sf.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/sf.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/sf.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Султанна Французова</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/trio-rielti.html" title="Сайт Московской риэлторской компании." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/trio.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/trio.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/trio.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Трио-Риэлти</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/fire.html" title="Строгий сайт Волгодонского учебного центра героических пожарных." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/fire_0.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/fire_0.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/fire_0.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Учебный центр пожарных</div>
                        </a>
                    </div>
                    <div class="works__item"><a href="/saturn.html" title="Симпатичный сайт-визитка медицинского комплекса с простым и приятным интерфейсом." class="works__link">
                            <div class="works__screenshot">
                                <picture>
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/saturn.jpg"
                                            media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                                    <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/saturn.jpg"
                                            media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                                    <img class="works__img"
                                         src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/saturn.jpg"
                                         alt="">
                                </picture>
                            </div>
                            <div class="works__title">Сатурн</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="sidebar col-md-4 col-lg-3">
            <div class="region region-right">
                <div class="who">
                    <div class="h2">Кто я?</div>
                    <p data-select-like-a-boss="1">Меня зовут Антон Кондратов. Мне 29 лет. Я программист, музыкант. Без
                        вредных привычек. Живу в Волгодонске. 4 года учился в лицее на программиста, 5 лет в ВУЗ-е на
                        рекламиста. Сайтами занимаюсь 10 лет и это продолжает быть мне интересным. Люблю делать свою работу
                        качественно.</p>
                </div>
                <div class="skills">
                    <div class="h2">Что могу?</div>
                    <ul>
                        <li>php</li>
                        <li>phpstorm</li>
                        <li>sublime text</li>
                        <li>git</li>
                        <li>js/jquery</li>
                        <li>html/css</li>
                        <li>less/stylus</li>
                        <li>gulp</li>
                        <li>bootstrap</li>
                        <li>bitrix</li>
                        <li>drupal</li>
                        <li>netcat</li>
                        <li>umi.cms</li>
                        <li>winscp</li>
                        <li>putty</li>
                        <li>bash</li>
                        <li>python</li>
                        <li>apache</li>
                        <li>nginx</li>
                        <li>centos</li>
                        <li>ubuntu</li>
                        <li>photoshop</li>
                        <li>мегаплан</li>
                        <li>jira</li>
                        <li>youtrack</li>
                        <li>sharex</li>
                        <li>slack</li>
                        <li>skype</li>
                        <li>teamviewer</li>
                        <li>google docs</li>
                    </ul>
                </div>
                <div class="contacts">
                    <div class="h2">Как со мной связаться?</div>
                    <ul>
                        <li>
                            <a href="skype:askondratov" title="Skype">
                                <i class="fa fa-skype"></i>
                                <span>askondratov</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:contact@site-home.ru" title="Электронная почта">
                                <i class="fa fa-envelope-o"></i>
                                <span>contact@site-home.ru</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+79185008020" title="Мобильный телефон">
                                <i class="fa fa-phone"></i>
                                <span>+7 918 500-80-20</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer row">
        <div class="footer__copyright col-md-8 col-lg-9">
            <i class="fa fa-copyright"></i>
            Кондратов А. С., 2009—2017
        </div>
        <div class="footer-feed col-md-4 col-lg-3">
            <a class="footer-feed__link" href="/rss.xml" title="RSS-поток работ портфолио">
                <i class="fa fa-rss"></i>
                <span>RSS-поток</span>
            </a>
        </div>
    </div>
</div>
