{% extends '::layout.html.twig' %}

{% block content %}
    <div class="works__list">
        <div class="works__item"><a href="/rsvp.html" title="Красивый мультиязычный сайт коммуникационного агентства"
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/chrome_2016-11-17_14-57-43.png"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/chrome_2016-11-17_14-57-43.png"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/chrome_2016-11-17_14-57-43.png"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">R.S.V.P</div>
            </a>
        </div>
        <div class="works__item"><a href="/shale.html" title="Решение на маркетплейсе 1С-Битрикс." class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/shale_0.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/shale_0.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/shale_0.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Отель «Shale»</div>
            </a>
        </div>
        <div class="works__item"><a href="/china.html" title="Клиника традиционной китайской медицины."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/china.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/china.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/china.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">«Природа жизни»</div>
            </a>
        </div>
        <div class="works__item"><a href="/technounity.html" title="Зеленоградский инновационный кластер."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/technounity_0.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/technounity_0.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/technounity_0.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Техно Юнити</div>
            </a>
        </div>
        <div class="works__item"><a href="/kl.html" title="Решение на маркетплейсе 1С-Битрикс." class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/kl.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/kl.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/kl.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Клиника Сити+</div>
            </a>
        </div>
        <div class="works__item"><a href="/mmpl.html" title="Интернет-магазин мебельных комплектующих."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/2015-02-10_100121.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/2015-02-10_100121.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/2015-02-10_100121.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">СитиПласт</div>
            </a>
        </div>
        <div class="works__item"><a href="/vira.html" title="Сайт-визитка Саратовской компании «Вира»."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/vira.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/vira.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/vira.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">VIRA</div>
            </a>
        </div>
        <div class="works__item"><a href="/clarette.html"
                                    title="Простой сайт-визитка компании, которая продаёт спонжи в России."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/clarette_0.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/clarette_0.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/clarette_0.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Clarette</div>
            </a>
        </div>
        <div class="works__item"><a href="/ya-trener.html" title="Сайт бизнес-тренера Виталия Гуриновича."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/ya-trener.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/ya-trener.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/ya-trener.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Я – тренер</div>
            </a>
        </div>
        <div class="works__item"><a href="/veld-co.html" title="Большой и пёстрый интернет-магазин."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/veld.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/veld.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/veld.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Veld Co</div>
            </a>
        </div>
        <div class="works__item"><a href="/privodnye-sistemy.html" title="Каталог продукции компании."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/privod.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/privod.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/privod.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Приводные Системы</div>
            </a>
        </div>
        <div class="works__item"><a href="/sultanna-frantsuzova.html" title="Интернет-магазин именитого модельера."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/sf.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/sf.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/sf.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Султанна Французова</div>
            </a>
        </div>
        <div class="works__item"><a href="/trio-rielti.html" title="Сайт Московской риэлторской компании."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/trio.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/trio.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/trio.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Трио-Риэлти</div>
            </a>
        </div>
        <div class="works__item"><a href="/fire.html"
                                    title="Строгий сайт Волгодонского учебного центра героических пожарных."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/sites/site-home.ru/files/fire_0.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/fire_0.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/sites/site-home.ru/files/fire_0.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Учебный центр пожарных</div>
            </a>
        </div>
        <div class="works__item"><a href="/saturn.html"
                                    title="Симпатичный сайт-визитка медицинского комплекса с простым и приятным интерфейсом."
                                    class="works__link">
                <div class="works__screenshot">
                    <picture>
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail_x2/public/saturn.jpg"
                                media="only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5)" sizes="191px 143px">
                        <source srcset="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/saturn.jpg"
                                media="only screen and (-webkit-max-device-pixel-ratio: 1.49),
	only screen and (max--moz-device-pixel-ratio: 1.49),
	only screen and (max-device-pixel-ratio: 1.49)">
                        <img class="works__img"
                             src="http://site-home.ru/sites/portfolio/files/styles/thumbnail/public/saturn.jpg"
                             alt="">
                    </picture>
                </div>
                <div class="works__title">Сатурн</div>
            </a>
        </div>
    </div>
{% endblock %}
